<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.user.mapper.DegreeMapper">
  <resultMap id="BaseResultMap" type="org.springblade.modules.user.entity.Degree">
    <!--@mbg.generated-->
    <!--@Table dict_degree-->
    <id column="d_id" jdbcType="INTEGER" property="dId" />
    <result column="degree_name" jdbcType="VARCHAR" property="degreeName" />
    <result column="degree_score" jdbcType="DECIMAL" property="degreeScore" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    d_id, degree_name, degree_score
  </sql>
    <select id="selectDegreePage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from dict_degree
        where d_id != 0
        <where>
            <if test="degreeName != null and degreeName != ''">
              and  degree_name regexp #{degreeName}
            </if>
        </where>
        order by degree_score desc
    </select>
</mapper>
