<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.user.mapper.JobCertificateMapper">
  <resultMap id="BaseResultMap" type="org.springblade.modules.user.entity.JobCertificate">
    <!--@mbg.generated-->
    <!--@Table dict_job_certificate-->
    <id column="jc_id" jdbcType="INTEGER" property="jcId" />
    <result column="job_certificate_name" jdbcType="VARCHAR" property="jobCertificateName" />
    <result column="job_certificate_factor" jdbcType="DECIMAL" property="jobCertificateFactor" />
    <result column="age_factor" jdbcType="DECIMAL" property="ageFactor" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    jc_id, job_certificate_name, job_certificate_factor, age_factor
  </sql>
    <select id="selectJobCertificatePage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from dict_job_certificate
        <where>
            <if test="idOrName != null and idOrName != ''">
                jc_id regexp #{idOrName}
                    or job_certificate_name regexp #{idOrName}
            </if>
        </where>
    </select>
</mapper>