<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.performance.mapper.KpiPersonalMapper">
  <resultMap id="BaseResultMap" type="org.springblade.modules.performance.entity.KpiPersonal">
    <!--@mbg.generated-->
    <!--@Table kpi_personal-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_code" jdbcType="INTEGER" property="userCode" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="attendance_month" jdbcType="DATE" property="attendanceMonth" />
    <result column="percentage" jdbcType="VARCHAR" property="percentage" />
    <result column="job_type" jdbcType="TINYINT" property="jobType" />
    <result column="job_name" jdbcType="VARCHAR" property="jobName" />
    <result column="job_ratio" jdbcType="FLOAT" property="jobRatio" />
    <result column="card_id" jdbcType="VARCHAR" property="cardId" />
    <result column="op_sum" jdbcType="DECIMAL" property="opSum" />
    <result column="fixed_sum" jdbcType="DECIMAL" property="fixedSum" />
    <result column="work_sum" jdbcType="DECIMAL" property="workSum" />
    <result column="personal_sum" jdbcType="DECIMAL" property="personalSum" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_code, user_name, attendance_month, percentage, job_type, job_name, job_ratio, 
    card_id, op_sum, fixed_sum, work_sum, personal_sum
  </sql>
</mapper>